/* A free modern typeface package imported from Google*/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* 

LANDING PAGE 

*/

.fa-spinner {
    position: absolute;
    color: #F4F4F2;
    font-size: 48px;
    left: 45%;
    top: 50%;
    animation: spin 800ms linear infinite;
    z-index: -1;
}

.loading {
    z-index: 1001;
}

@keyframes spin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

nav {
  width: 100%;
  height: 80px;
  background-color: #161616;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 36px;
  border-bottom: 1px solid rgba(255,255,255,0.05);
}

#search__form {
    position: absolute;
    width: 30vw;
    left: 32%;
    top: 10%;
    margin: 0 16px;
    opacity: 0;
    animation: fade-in 2s 3s forwards;
    transition: top 500ms ease;
}

#search-bar {
    border: 2px solid #8E8E8E;
    height: 48px;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    border-radius: 24px;
    padding: 8px 16px;
    transition: all 300ms ease;
}

.search-bar__form--btn {
    padding: 10px 14px;
    height: fit-content;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    background-color: #8b1e1e;
    color: #F4F4F2;
    cursor: pointer;
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 300ms ease;
}

.search-bar__form--btn:active {
    background-color: #6f1616;
    transform: scale(0.9) translateY(-55%);
}

.search-bar--scale-wrapper:hover #search-bar{
    transform: scale(1.03);
}

.search-bar--scale-wrapper:hover .search-bar__form--btn{
    right: 2px;
}

#search-bar:focus::placeholder {
    color: transparent;
}

.nav__side--left {
    display: flex;
    align-items: center;
}

.nav__title {
    font-size: 24px;
    color: #C6B8B8;
    transform: translateX(-2px);
    cursor: default;
}

.movies__icon--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
}

.movies__icon {
    font-size: 24px;
    color: #C6B8B8;
}  

.nav__title,
.movies__icon,
.nav__links {
    animation: fade-in 2s forwards;
}

.nav__links {
    list-style-type: none;
    display: flex;
}

.nav__link {
    margin-left: 28px;
    position: relative;
}

.underline {
    position: absolute;
    background-color: #F4F1F1;
    height: 2px;
    width: 0;
    right: 0;
    bottom: -8px;
    transition: all 300ms ease;
}

.nav__link:hover {
    transform: scale(1.05);
}

.nav__link:hover .nav__link--anchor,
.nav__link:hover .fa-arrow-right-to-bracket {
    color: #F4F1F1;
}

.nav__link:hover .underline{
    width: 100%;
    left: 0;
}

.nav__link:active {
    transform: scale(0.95);
}

.nav__link--anchor {
    text-decoration: none;
    color: #C6B8B8;
    font-size: 18px;
    font-weight: 500;
}

.fa-arrow-right-to-bracket {
    color: #C6B8B8;
    margin-left: 8px;
}

.nav__link--1 {
    display: flex;
    align-items: center;
    cursor: not-allowed;
}

.nav__link--2 {
    display: none;
    align-items: center;
    cursor: pointer;
}

/* 

HEADER 

*/

.background__img {
    width: 100%;
    object-fit: cover;
    position: absolute;
    height: calc(100vh - 80px);
    opacity: 1;
}

.header__container {
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    background-color: #121212;
    position: relative;
}

.header__container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #121212;
    z-index: -1;
}

.move-forward {
    z-index: 0;
}

.header__row {
    display: flex;
}

.movie__list {
    display: flex;
    flex-wrap: wrap;
    opacity: 1;
}

.movie {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: calc(100% / 3);
    margin: 48px 0;
}

.movie__poster--wrapper {
    display: flex;
    width: 50%;
}

.movie__poster {
    width: 100%;
    border-radius: 4px;
    box-shadow: #8E8E8E 0 0 4px;
    transition: all 300ms ease;
}

.movie__poster--unavailable {
    width: 100%;
    border-radius: 4px;
    box-shadow: #8E8E8E 0 0 4px;
    text-align: center;
    color: #F4F4F2;
    font-weight: 200;
    font-size: 2cqw;
    padding: 50% 16px;
    white-space: nowrap;
}

.movie__poster--unavailable:hover {
    box-shadow: #8b1e1e 0 0 4px;    
}

.movie__description {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-top: 16px;
}

.movie__title,
.movie__year,
.movie__rated {
    color: #F4F4F2;
    margin: 4px 0;
}

.movie__title {
    text-align: center;
}

.movie__details {
    display: flex;
    width: 100%;
    justify-content: center;
}

.movie__year,
.movie__rated {
    font-size: 12px;
}

.movie__year {
    margin-right: 16px;
}

.welcome {
    position: absolute;
    color: #F4F4F2;
    left: 50%;
    top: 15%;
    transform: translate(-53%, -50%);
    text-align: center;
    opacity: 0;
    visibility: visible;
    animation: fade-in 2000ms 800ms forwards,
    welcome-slide-down 1400ms 2200ms forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes welcome-slide-down {
    from {
        top: 15%;        
    }
    to {
        top: 35%;
    }
}