/* A free modern typeface package imported from Google*/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* 

LANDING PAGE 

*/

.fa-spinner {
  position: absolute;
  color: #f4f4f2;
  font-size: 48px;
  left: 45%;
  top: 50%;
  animation: spin 800ms linear infinite;
  z-index: -1;
}

.loading {
  z-index: 1001;
}

.specify {
  color: #f4f4f2;
  z-index: 100;
  background-color: transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  max-width: 500px;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  width: 100%;
  height: 80px;
  background-color: #161616;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 36px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

#search__form {
  position: absolute;
  width: 30vw;
  left: 32%;
  top: 10%;
  margin: 0 16px;
  opacity: 0;
  animation: fade-in 2s 3s forwards;
  transition: top 500ms ease;
}

#search-bar {
  border: 2px solid #8e8e8e;
  height: 48px;
  width: 100%;
  font-size: 14px;
  font-weight: 700;
  border-radius: 24px;
  padding: 8px 16px;
  transition: all 300ms ease;
}

.search-bar__form--btn {
  padding: 10px 14px;
  height: fit-content;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  background-color: #8b1e1e;
  color: #f4f4f2;
  cursor: pointer;
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 300ms ease;
}

.search-bar__form--btn:active {
  background-color: #6f1616;
  transform: scale(0.9) translateY(-55%);
}

.search-bar--scale-wrapper:hover #search-bar {
  transform: scale(1.03);
}

.search-bar--scale-wrapper:hover .search-bar__form--btn {
  right: 2px;
}

#search-bar:focus::placeholder {
  color: transparent;
}

.nav__side--left {
  display: flex;
  align-items: center;
}

.nav__title {
  font-size: 24px;
  color: #c6b8b8;
  transform: translateX(-2px);
  cursor: default;
}

.movies__icon--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
}

.movies__icon {
  font-size: 24px;
  color: #c6b8b8;
}

.nav__title,
.movies__icon,
.nav__links {
  animation: fade-in 2s forwards;
}

.nav__links {
  list-style-type: none;
  display: flex;
}

.nav__link {
  margin-left: 28px;
  position: relative;
}

.underline {
  position: absolute;
  background-color: #f4f1f1;
  height: 2px;
  width: 0;
  right: 0;
  bottom: -8px;
  transition: all 300ms ease;
}

.nav__link:hover {
  transform: scale(1.05);
}

.nav__link:hover .nav__link--anchor,
.nav__link:hover .fa-arrow-right-to-bracket {
  color: #f4f1f1;
}

.nav__link:hover .underline {
  width: 100%;
  left: 0;
}

.nav__link:active {
  transform: scale(0.95);
}

.nav__link--anchor {
  text-decoration: none;
  color: #c6b8b8;
  font-size: 18px;
  font-weight: 500;
}

.fa-arrow-right-to-bracket {
  color: #c6b8b8;
  margin-left: 8px;
}

.nav__link--1 {
  display: flex;
  align-items: center;
  cursor: not-allowed;
}

.nav__link--2 {
  display: none;
  align-items: center;
  cursor: pointer;
}

/* 

HEADER 

*/

.background__img {
  width: 100%;
  object-fit: cover;
  position: absolute;
  height: calc(100vh - 80px);
  opacity: 1;
}

.header__container {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  background-color: #121212;
  position: relative;
}

.header__container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #121212;
  z-index: -1;
}

.move-forward {
  z-index: 0;
}

.header__row {
  display: flex;
  margin: 0 24px;
}

.movie__list {
  display: flex;
  flex-wrap: wrap;
  opacity: 1;
}

.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: calc(100% / 3);
  margin: 48px 0;
}

.movie__poster--wrapper {
  display: flex;
  width: 50%;
}

.movie__poster {
  width: 100%;
  border-radius: 4px;
  box-shadow: #8e8e8e 0 0 4px;
  transition: all 300ms ease;
}

.movie__poster--unavailable {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 4px;
  box-shadow: #8e8e8e 0 0 4px;
  text-align: center;
  color: #f4f4f2;
  font-weight: 200;
  font-size: 2cqw;
  padding: 50% 16px;
  white-space: nowrap;
  align-items: center;
}

.fa-face-sad-cry {
  margin-top: 16px;
  font-size: 36px;
  color: #f4f4f2;
}

.movie__poster--unavailable:hover {
  box-shadow: #8b1e1e 0 0 4px;
}

.movie__description {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-top: 16px;
}

.movie__title,
.movie__year,
.movie__rated {
  color: #f4f4f2;
  margin: 4px 0;
}

.movie__title {
  text-align: center;
}

.movie__details {
  display: flex;
  width: 100%;
  justify-content: center;
}

.movie__year,
.movie__rated {
  font-size: 12px;
}

.movie__year {
  margin-right: 16px;
}

.welcome {
  position: absolute;
  color: #f4f4f2;
  left: 50%;
  top: 15%;
  max-width: 580px;
  font-size: 28px;
  padding-top: 32px;
  transform: translate(-53%, -50%);
  text-align: center;
  opacity: 0;
  visibility: visible;
  animation: fade-in 2000ms 800ms forwards,
    welcome-slide-down 1400ms 2200ms forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes welcome-slide-down {
  from {
    top: 15%;
  }
  to {
    top: 30%;
  }
}

/* FOOTER  */

footer {
  width: 100%;
  height: 120px;
  background-color: #161616;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 36px;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.footer__logo--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
}

.footer__logo--img {
  width: 100%;
}

.footer__copyright {
  color: #c6b8b8;
  margin-right: 6%;
  margin-left: 16px;
}

/* RESPONSIVENESS */

@media (max-width: 1020px) {
  .welcome {
    font-size: 26px;
    max-width: 340px;
  }

  #search__form {
    top: 8%;
  }

.specify {
  max-width: 325px;
}

}

@media (max-width: 768px) {
  #search__form {
    left: 30%;
    top: 12%;
  }

  #search-bar {
    height: 36px;
    font-weight: 500;
  }

  .search-bar__form--btn {
    padding: 8px 10px;
    right: 4px;
    font-size: 12px;
    font-weight: 500;
  }

  .specify {
    max-width: 255px;
    font-size: 16px;
    text-align: center;
    left: 48%;
  }

  .welcome {
    font-size: 24px;
    max-width: 340px;
  }

  .nav__title {
    font-size: 18px;
  }

  .movies__icon--wrapper {
    width: 48px;
  }

  .nav__link--2 {
    font-size: 14px;
  }

  .nav__link {
    font-size: 16px;
  }

  .movies__icon {
    font-size: 16px;
  }

  .nav__link--anchor {
    font-size: 16px;
  }

  .fa-arrow-right-to-bracket {
    font-size: 14px;
  }

  h1 {
    font-size: 24px;
    max-width: 300px;
  }
}

@media (max-width: 620px) {
  #search-bar::placeholder {
    color: transparent;
  }

  .welcome {
    max-width: 250px;
    font-size: 18px;
  }

  .movie {
    width: 50%;
  }

}

@media (max-width: 480px) {
  .nav__link--1,
  .nav__link--anchor2,
  .nav__title {
    display: none;
  }

  .movie {
    width: 100%;
  }

  .movie__title {
    font-size: 20px;
  }

  #search__form {
    width: 40vw;
    left: 25%;
  }

  .movies__icon--wrapper {
    justify-content: flex-start;
  }

  .movies__icon {
    font-size: 20px;
  }

  .specify {
    max-width: 150px;
    font-size: 14px;
  }

  h1 {
    font-size: 18px;
  }

  .footer__copyright {
    font-size: 12px;
    max-width: 120px;
    text-align: center;
    margin-right: 16px;
  }

  .footer__logo--wrapper {
    width: 60px;
    height: 60px;
  }

  .welcome {
    font-size: 16px;
    max-width: 168px;
  }

  .nav__link:hover .underline {
    width: 0;
    left: 0;
  }

  .header__row {
    margin: 0 32px;
  }

}

@media (max-width: 320px) {
  .welcome {
    font-size: 14px;
    max-width: 150px;
  }

  #search__form {
    width: 45vw;
    left: 20%;
  }

  .fa-film {
    transform: translateX(-12px);
  }

  .movie__title {
    font-size: 16px;
  }
}