/* A free modern typeface package imported from Google*/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* 

LANDING PAGE 

*/

nav {
  width: 100%;
  height: 80px;
  background-color: #F4F4F2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 36px;
  border-bottom: 2px inset #8E8E8E;
}

.search-bar {
    position: absolute;
    border: 2px solid #8E8E8E;
    height: auto;
    width: 24vw;
    left: 37%;
    border-radius: 16px;
    padding: 8px 16px;
    transition: all 300ms ease;
}

.search-bar:hover {
    transform: scale(1.05);
}

.search-bar:focus::placeholder {
    color: transparent;
}

.nav__side--left {
    display: flex;
    align-items: center;
}

.nav__title {
    font-size: 24px;
    color: #121212;
}

.movies__icon--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
}

.movies__icon {
    font-size: 24px;
    color: #8b1e1e;
}  

.nav__links {
    list-style-type: none;
    display: flex;
}

.nav__link {
    margin-left: 28px;
}

.nav__link--anchor {
    text-decoration: none;
    color: #121212;
    font-size: 18px;
    font-weight: 500;
}

/* 

HEADER 

*/

header {
    width: 100%;
    height: calc(100vh - 80px);
    background-color: #121212;
}