/* A free modern typeface package imported from Google*/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* 

LANDING PAGE 

*/

nav {
  width: 100%;
  height: 80px;
  background-color: #F4F4F2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 36px;
  border-bottom: 2px inset #8E8E8E;
}

#search__form {
    position: absolute;
    width: 24vw;
    left: 34%;
    margin: 0 16px;
}

#search-bar {
    border: 2px solid #8E8E8E;
    height: auto;
    width: 100%;
    border-radius: 24px;
    padding: 8px 16px;
    transition: all 300ms ease;
}

.search-bar__form--btn {
    padding: 6px 10px;
    height: fit-content;
    border-radius: 20px;
    font-size: 12px;
    border: none;
    background-color: #8b1e1e;
    color: #F4F4F2;
    cursor: pointer;
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 300ms ease;
}

.search-bar__form--btn:active {
    transform: scale(0.9) translateY(-50%);
    background-color: #6f1616;
}

.search-bar--scale-wrapper:hover #search-bar{
    transform: scale(1.03);
}

.search-bar--scale-wrapper:hover .search-bar__form--btn{
    right: 2px;
}

#search-bar:focus::placeholder {
    color: transparent;
}

.nav__side--left {
    display: flex;
    align-items: center;
}

.nav__title {
    font-size: 24px;
    color: #121212;
}

.movies__icon--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
}

.movies__icon {
    font-size: 24px;
    color: #8b1e1e;
}  

.nav__links {
    list-style-type: none;
    display: flex;
}

.nav__link {
    margin-left: 28px;
}

.nav__link--anchor {
    text-decoration: none;
    color: #121212;
    font-size: 18px;
    font-weight: 500;
}

/* 

HEADER 

*/

.header__container {
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    background-color: #121212;
}

.header__row {
    display: flex;
}

.movie__list {
    display: flex;
    flex-wrap: wrap;
}

.movie {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% / 3);
    margin: 48px 0;
}

.movie__poster--wrapper {
    display: flex;
    width: 50%;
}

.movie__poster {
    width: 100%;
    border-radius: 4px;
    box-shadow: #8E8E8E 0 0 4px;
    transition: all 300ms ease;
}

.movie__poster:hover {
    transform: scale(1.05);
}

.movie__description {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-top: 16px;
}

.movie__title,
.movie__year,
.movie__rated {
    color: #F4F4F2;
    margin: 4px 0;
}

.movie__title {
    text-align: center;
}

.movie__details {
    display: flex;
    width: 100%;
    justify-content: center;
}

.movie__year,
.movie__rated {
    font-size: 12px;
}

.movie__year {
    margin-right: 16px;
}